<%- include('../partials/header') %>
    <main>
        <form id="add-ticket-form" action="/flights/<%= flight._id %>/tickets/new" method="POST">
            <div class="form-group" width="50%">
                Seat: <input name="seat" required pattern="[A-F][1-9]\d?" placeholder="A10"><br>
                Price: $<input name="price" type="number">
                <br>
                <button class="btn btn-primary" type="submit">Add Ticket</button>
            </div>
        </form>
    </main>
<%- include('../partials/footer') %>