html {
  background-color: lightgray;
}
body {
  margin: 50px;
  padding: 20px;
}

a {
  color: #00B7FF;
}
form {
  line-height: 30px;
}

.active {
  border: 1px solid black;
  border-radius: 20%;
}

nav {
  margin: 20px 0px;
  height: 50px;
  background-color: #00B7FF;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  background-color: black;
}